 @font-face {
font-family: SEGOE UI; src: url('fonts/segoeuii.ttf');
}

.paper_size_images{
border: 1px solid #ddd;
width: 300px;
display: flex;
}

.login_header {
margin-top: 10%;
color: black;
text-align: center;
font-size: 12px;
}

.login_footer {
margin-top: 8%;
color: darkblue;
font-weight: 400;
font-family: 'SEGOE UI';
text-align: center;
font-size: 13px;
}

.login_body {
background-color: #ffff;
}

.show_logged_user{
font-family: verdana;
font-size: 11px;
color: blue;
text-align: right;
margin-right: 5%;
}


.index-logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5%;
}

.index-login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
}


/*navigation meniu CSS START*/
#dock-container {
        position: fixed;
        bottom: 0;
        text-align: center;
        right: 60%;
        left: 0%;
        width: 40%;
        background: rgba(255,255,255,0.2);
        border-radius: 8px 8px 0 0;
    }
    #dock-container li {
        list-style-type: none;
        display: inline-block;
        position: relative;
    }
#dock-container li img {
      width: 45px;
      height: 45px;
      -webkit-box-reflect: below 2px
      -webkit-gradient(linear, left top, left bottom, from(transparent),
      color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
      -webkit-transition: all 0.3s;
      -webkit-transform-origin: 50% 100%;
    }

#dock-container li:hover img {
      -webkit-transform: scale(2);
      margin: 0 2em;
    }
    #dock-container li:hover + li img,
    #dock-container li.prev img {
      -webkit-transform: scale(1.5);
      margin: 0 1.5em;
    }

 #dock-container li span {
        display: none;
        position: absolute;
        bottom: 140px;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        padding: 4px 0;
        border-radius: 12px;
    }
    #dock-container li:hover span {
        display: block;
        color: #fff;
    }
/*navigation meniu CSS END*/














/*
body {
    margin: 0;
    font-family: 'Hind', sans-serif;
}
.loginform {
    margin-bottom: 5px;
    line-height: 25px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout {
    margin-bottom: 5px;
    line-height: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItems {
    color: red;
    margin-bottom: 5px;
    line-height: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.StartButton {
    display: inline-block;
    height: 15px;
}
.mainContentTables  {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
	justify-content: center;
}

.mainContentTables div {
	background-color: white;
	width: 30%;
	margin: 1px;
	padding: 7px;
	text-align: center;
	line-height: 15px;
	font-size: 12px;
	border-style: solid;
	border-color: gray;
	border-width: thin;
}
.mainbackground {
	background: url('../images/background.jpg') center center no-repeat fixed;
	background-size: cover;
}
a:hover {
    color: red;
    text-decoration: underline;
    text-decoration: none;
}

input[type=text] {
width: 250px;
margin: 2px 0;
font-size: 14px;
box-sizing: content-box;
text-align: center;
}

input[type=password] {
width: 250px;
margin: 2px;
font-size: 14px;
box-sizing: content-box;
text-align: center;
}

input[type=submit] {
border-radius: 2px;
padding: 4px;
color: black;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

2020 01 08 --------------------------------------------------------------------------------
*/






/*
			a {
            text-decoration: none;
			font-weight: bold;
			color: grey;
			}

			h3 {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
			margin-top: 10px;
			}
            h2 {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
			margin-top: 100px;
			}



			input[type=date] {
			  width: 250px;
			  margin: 2px 0;
			  box-sizing: content-box;
			  text-align: center;
			}

			}

            .FinishedButton {
			  display: inline-block;
			  height: 15px;
			  }
            .ArchiveButton {
			  display: inline-block;
			  height: 15px;
			  }

            .CorrectionButton {
			  display: inline-block;
			  height: 15px;
			  }
			button[type=submit] {
			  font-weight: bold;
			  color: grey;
			}
			button:hover[type=submit] {
			  font-weight: bold;
*/
/*
			  color: red;
			}

			.buttonforusers {
			  border: 1px solid white;
			  box-shadow: 2px 3px 3px grey;
			  border-radius: 10px;
			  padding: 2px;
			  color: white;
			  background-color: black;
			  				}

			.header{
			  display: flex;
			  flex-wrap: wrap;
			  text-align: center;
              align-items: center;
              justify-content: center;

			}
			.header div {
			  padding: 10px;
			  width: 25%;
			  margin-top: 0%;
			  line-height: 50px;
			  font-size: 12px;
			}
			.sysAdminmeniu {
			  display: flex;
			  flex-wrap: wrap;
			  text-align: center;
              align-items: center;
              justify-content: center;

			}
*/
